<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
.box {
	height:100px;
	width: 300px;
	border: solid 1px black;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div>
		<h1>Add a note:</h1>
		<form id='create_item' action='add' method='POST'>
			{% csrf_token %}
			<input class='box' type='textarea' name='create_form'>	
			<input type='submit'>
		</form>
	</div>
	<div class='box' id="placeholder3">
	</div>
<script>	
$('#create_item').submit(function(e){
	e.preventDefault();
	$.ajax({
		url:$(this).attr('action'),
		method: 'post',
		data: $(this).serialize(),
		success: function(serverResponse) {
            $('#placeholder3').html(serverResponse)
        	}
		})
	})	
</script>
</body>
</html>